{% extends "Appnuevo/base.html" %}

{% load static %}


{% block contenido %}


<div class="row">
    {% for proveedor in object_list %}
        <div class="card" style="width: 18rem;" >
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <p class="text-center text-black">GRUPO: {{ proveedor.apellido }}, {{ proveedor.nombre }}</p>
            <p class="text-center text-black">EMAIL: {{ proveedor.email }}</p>
            <img src="{{ documento.imagen_viaj }}" alt="IMAGEN:" class="right center" width="150px">
            
            <a href="{% url 'proyecto-proveedores-detail' proveedor.id %}" class="btn btn-primary">Ver</a>
            <a href="{% url 'proyecto-proveedores-update' proveedor.id %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'proyecto-proveedores-delete' proveedor.id %}" class="btn btn-primary">Borrar</a>
            </div>
        </div>
    {% endfor %}
</div>

<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'proyecto-proveedores-create' %}">Agregar nuevo</a>

{% endblock contenido %}
