{% extends "Appnuevo/base.html" %}

{% load static %}

{% block contenido %}
<h1>Detalle del desafio entregado</h1>

<p>Nombre: <i>{{proveedores.nombre}} {{recreadores.apellido}}</i></p>
<p>Edad: <i>{{proveedores.edad}}</i></p>
<p>DNI: <i>{{proveedores.dni}}</i></p>
<p>Email: <i>{{proveedores.email}}</p>
<p>Info: <i>{{documentacion.info_document}}</i></p>
<img src=" {{ documentacion.imagen_viaj.url }}" alt="IMAGEN:" class="right center" width="450px">
    




<button type="button" class="btn btn-dark"><a href="{% url 'proyecto-proveedores-list' %}">Regresar</a></button>


{% endblock contenido %}