{% extends "Appnuevo/base.html" %}


{% block contenido %}
<h1>Viajes Disponibles</h1>
<p>Estos son los viajes que todavia tienen vacantes</p>

{% if errores %}
    <P style="color:red">{{errores}}</P>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formulario.as_p }}
    <input type="submit" value="Crear viaje">
</form>

{% if listado_viajes %}
    <ul>
    {% for viaje in listado_viajes %}
    <button type="button" class="btn btn-dark">
        <li>{{viaje}} <a href="{% url  'proyecto-viajes-borrar'  viaje.id %}">Borrar</a> <a href="{% url 'proyecto-viajes-editar'  viaje.id %}">Editar</a> </li>
    {% endfor %}

    </ul>
{% else %}
    <p>No Hay viajes disponibles de momento</p>
{% endif %}

{% endblock  %}